
:root {
    /* change the values below to your colors from your palette */
    --primary-color: #807475;
    --secondary-color: #B4ACA4;
    --accent1-color: #fbfbeb;
    --accent2-color: #042A2B;
    --alternate1-color: #1985A1;
    --alternate2-color: #011936;
  
  
    /* change the values below to your chosen font(s) */
    --heading-font: Verdana, Helvetica, sans-serif;
    --paragraph-font: Arial, Helvetica, sans-serif;
  
    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: #042A2B;  /* headlines on a white background */ 
    --headline-color-on-color: #fbfbeb; /* headlines on a colored background */ 
    --paragraph-color-on-white: #807475; /* paragraph text on a white background */ 
    --paragraph-color-on-color: #fbfbeb; /* paragraph text on a colored background */ 
    --paragraph-background-color: #807475;
    --nav-link-color: #807475;
    --nav-background-color: #B4ACA4;
    --nav-hover-link-color: #fbfbeb;
    --nav-hover-background-color: #807475;
}

* {
    box-sizing: border-box;
}
#content {
    background-color: rgba(251,251,235, 0.3);
    max-width: 1600px;
    font-size: 3vh;
    margin: 0 auto;
    font-family: var(--paragraph-font);
    color: var(--paragraph-color-on-white);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--headline-color-on-white);
    padding: 0.2vh;
    text-align: center;
    margin-top: 5vh;
}


/* Header */
#heroBox {
    display: grid;
    grid-template-columns: 100px 1fr;
    text-align: center;
    align-items: center;
    background-color: var(--paragraph-background-color);
    border-radius: 10px 10px 0 0;
}
.logo {
    width: 80px;
    padding: 10px;
}
.heroMsg h2{
    margin-top: 10px;
    margin-bottom: 0;
    color: var(--headline-color-on-color);
    font-size: 4vh;
}
.heroMsg h3 {
    margin-top: 0;
    margin-bottom: 10px;
    color: var(--headline-color-on-color);
    font-size: 3vh;
}

#heroImg {
    position: relative;
    max-width: 1000px;
    width: 60%;
    margin: 0 auto;
}
#heroImg img {
    text-align: center;
    width: 100%;
    max-width: 1000px;
}
#heroImageCredit {
    position: absolute;
    bottom: 10px;
    right: 20px;
    font-size: small;
}

nav {
    background-color: var(--nav-background-color);
    width: 100%;
    overflow: auto;
    border-radius: 0 0 10px 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
nav a {
    float: left;
    width: 33.33%;
    text-align: center;
    text-decoration: none;
    padding: 1.5vh;
}
nav a:link, nav a:visited {
    color: var(--nav-link-color);
}
  nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}


/* Main */
#intro {
    display: block;
    width: 90%;
    margin: 1vh auto 0 auto;
}
#intro h1 {
    margin-top: 3vh;
    margin-bottom: 1vh;
}
.introMinorHeader {
    margin-top: 0;
    margin-bottom: 4vh;
    text-align: center;
    font-size: 4vh;
    color: var(--headline-color-on-white);
}


.textParagraph {
    display: block;
    width: 90%;
    margin: 0 auto;
}
.minorHeader {
    margin-top: 5vh;
    margin-bottom: -2vh;
}

.textAndImage {
    display: grid;
    grid-template-columns: 35% 65%;
}
.list ul {
    margin-top: 0;
    margin-bottom: 0;
}
#variousShoes {
    justify-self: center;
    align-self: center;
    position: relative;
    max-width: 600px;
    width: 80%;
    margin: 0 auto;
}
#variousShoes img {
    width: 100%;
    max-width: 600px;
    padding: 1.5vh;
}
#shoeImageCredit {
    position: absolute;
    bottom: 20px;
    right: 30px;
    font-size: small;
}
.inputTheme {
    width: 75%;
    margin: 0 auto;
}
.inputTheme input {
    width: 90%;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    height: 5vh;
    display: block;
    margin: 1vh auto;
    color: var(--primary-color);
    font-size: 3vh;
}
.themeButton {
    width: 30%;
    text-align: center;
    border-radius: 5px;
    height: 7vh;
    background-color: var(--nav-background-color);  
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    font-size: 1.9vh;
    display: block;
    margin: 1vh auto;
}
.randomThemeButton {
    width: 22.5%;
    text-align: center;
    border-radius: 5px;
    height: 7vh;
    background-color: var(--nav-background-color);  
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    font-size: 1.9vh;
    display: block;
    margin: -1vh auto;
}

/* Footer */
footer {
    display: grid;
    grid-template-columns: 100px 6fr 1fr;
    text-align: center;
    align-items: center;
    background-color: var(--paragraph-background-color);
}
.footerText {
    color: var(--headline-color-on-color);
    font-size: 0.7em;
}
footer a {
    text-align: right;
    text-decoration: none;
    font-size: small;
    padding: 1.5vh;
}
footer a:link {
    color: var(--accent1-color);
}
footer a:visited {
    color: var(--secondary-color);
}


/* Product Pages */
main h2 {
    margin: 3vh auto;
}
#headerBox {
    display: grid;
    grid-template-columns: 100px 1fr;
    text-align: center;
    align-items: center;
    background-color: var(--paragraph-background-color);
    border-radius: 10px 10px 0 0;
}
.headerMsg h2{
    margin-top: 10px;
    margin-bottom: 0;
    color: var(--headline-color-on-color);
    font-size: 4vh;
}
.headerMsg h3 {
    margin-top: 0;
    margin-bottom: 10px;
    color: var(--headline-color-on-color);
    font-size: 3vh;
}
.productIntro {
    width: 90%;
    text-align: center;
    margin: 0 auto 2vh auto;
}
.productIntro h3 {
    margin: 2vh auto;
}
.productGallery {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1.5vh;
    padding: 2vh;
    width: 95%;
    margin: 0 auto 2vh auto;
    background-color: rgba(128,116,117, 0.7);
    border-radius: 10px;
}
.productContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.productImage {
    grid-area: 1 / 1 / span 1 / span 2;
    width: 100%;
    border-radius: 10px;
}
.wardrobeButton {
    grid-area: 2 / 1 / span 1 / span ;
}
.productUrl {
    grid-area: 2 / 2 / span 1 / span 1;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.wardrobeButton, .productUrl {
    width: 100%;
    height: 6vh;
    font-size: 2vh;
    text-align: center;
    align-self: center;
    justify-self: center;
    background-color: var(--paragraph-background-color);
    border: 1px solid var(--paragraph-color-on-color);
    color: var(--paragraph-color-on-color);

    margin: 0.5vh auto;
    border-radius: 5px;
}
.productUrl:visited {
    color: var(--secondary-color);
}


/* Adaptive View */

@media screen and (max-width: 1200px) {
    .productGallery {
        grid-template-columns: repeat(5, 1fr);
    }
}


@media screen and (max-width: 900px) {
    p {
        text-align: center;
    }
    .textAndImage {
        display: block;
    }
    .list {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #variousShoes img {
        display: block;
        margin: 0 auto;
    }
    .productGallery {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 700px) {
    #heroImg {
        width: 80%;
    }
    .productGallery {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 500px) {
    #heroImg {
        width: 100%;
    }
    .productGallery {
        grid-template-columns: repeat(2, 1fr);
    }
    .heroMsg h2, .headerMsg h2 {
        font-size: 3vh;
    }
    .heroMsg h3, .headerMsg h3 {
        font-size: 2vh;
    }
    
}

